.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.content {
	width: 500px;
	max-width: 100%;
	box-shadow: 5px 5px 20px #333;
	border-radius: 20px;
	transition: 300ms ease-in-out height;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	padding: 20px;
}

.content input,
.content button {
	width: 100%;
	display: block;
	padding: 10px 20px 10px 20px;
	border-radius: 10000px;
}

.content input {
	border: none;
	outline: none;
	box-shadow: 1px 1px 5px #333;
}

.content button {
	background: cyan;
	border: none;
}
